mixin video(i)
    div 
        h4
            a(href=`/videos/${i.id}`)=i.title
        p=i.description
        ul
            each hashtags in i.hashtags 
                li=hashtags
        small=i.createdAt
        hr