.partial-footer {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    font-size: 13px;
    background: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 0.6);
    padding: 3px;
}

.header-title-box {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px;
    height: 20px;
    background: rgba(15, 15, 15, 1);
}

.header-title {
    font-weight: 600;
    margin-right: 3px;
    color: white;
}

.header-logo {
    color: rgb(224, 63, 63);
}

.header-nav-box {
    //nav-box.a.li.i
    //fixed list
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0px;
    padding: 10px;
    background: rgba(15, 15, 15, 1);
    li {
        //btn background
        background: rgba(15, 15, 15, 1);
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
        &:hover {
            background: black;
            //box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
            transition: ease-in-out 0.2s;
        }
    }

    a li {
        //btn color
        font-weight: 600;
        color: rgba(255, 255, 255, 0.8);
        &:hover {
            color: rgb(224, 63, 63);
            transition: ease-in-out 0.2s;
        }
    }
}

.menu-icon {
    font-size: 25px;
}
