doctype html 
html(lang="ko")
    head
        title #{pageTitle} | Pengtube
        link(rel="stylesheet" href="/static/css/styles.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer')

        
    body
        include partials/header
        main
            block content
    include partials/footer