extends base
include mixins/video

block content
    div.music-box
        div.video-main-box
            div.video-container
                div.video-box
                    video.video-config(width='100%' src='https://serranoarevalo.github.io/notflix/9bfd1023900e31286103369c803c7ee9.ogv')
                    //iframe(src=`https://www.youtube.com/embed/OWU14WJGDoc?controls=0&autoplay=1` frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                div.timeline-box
                    input.timeLine(type='range' min='0' max='100')
            div.controller-box
                div#videoController
                    div.volume-box
                        div.volume-segment-box-play
                            i#playPauseBtn.fas.fa-play
                        div.volume-segment-box-sound
                            i#volume.fas.fa-volume-up
                        input#volumeRange(type='range' step='0.1' value='0.5' min='0' max='1')
                        div.video-time 0:00 / 0:00
        
        //return playList
        div.video-list-box
            div.video-list-box-title Play List
            ul.video-list-box-list
                //li-queue
                li.list-queue-box
                    div.list-queue-data    
                        img(src="https://nodejs.org/static/images/logo-hexagon-card.png").list-queue-img
                        div.list-queue-info-box
                            div.list-queue-title Song1

                    a(href="#").list-queue-delete
                        i.fa-solid.fa-xmark
                //li-queue
                li.list-queue-box
                    div.list-queue-data    
                        img(src="https://nodejs.org/static/images/logo-hexagon-card.png").list-queue-img
                        div.list-queue-info-box
                            div.list-queue-title Song1

                    a(href="#").list-queue-delete
                        i.fa-solid.fa-xmark



            script(src="/static/js/main.js")

    div.video-return-box
        each i in videos
            +video(i)
        else
            li Nothing Found