extends base

block content 
    span=errorMassage
    form(method="POST")
        input(name="name", type="text", required, placeholder="Name")
        input(name="email", type="text", required, placeholder="E-mail")
        input(name="username", type="text", required, placeholder="Username")
        input(name="password", type="password", required, placeholder="Password(minLength : 6)")
        input(name="password2", type="password", required, placeholder="Confirm Password")
        input(name="location", type="text", required, placeholder="Localtion(optional)")
        input(type="submit", value="Join")
    hr
    div
        span Already have ac account? 
        a(href="/login") Login now &rarr;
        