extends base

block content 
    span=errorMassage
    form(method="POST")
        input(name="username", type="text", required, placeholder="Username")
        input(name="password", type="text", required, placeholder="Password")
        input(type="submit", value="Join")
    hr
    div
        span Don't have ac account? 
        a(href="/join") create now &rarr;
        