header
    div.header-title-box
        a(href="#")
            i.header-title WorkBox
            i.fa-brands.fa-accusoft.header-logo
    nav
        ul.header-nav-box
            a(href="/")
                li
                    i.fa-solid.fa-music.menu-icon
            if loggedIn
                a(href="/users/logout")
                    li Log Out
                a(href="/users/edit")
                    li Edit Profile
            else
                a(href="/login")    
                    li 
                        i.fa-solid.fa-right-to-bracket.menu-icon
            a(href="/search")    
                li 
                    i.fa-solid.fa-magnifying-glass.menu-icon
            a(href="/videos/upload") 
                li
                    i.fa-solid.fa-list.menu-icon